body {
  font-family: sans-serif;
  /* width: 80%; */
  margin: auto;
}

.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

.tehina {
  padding-left: 0px;
}

.tehina * {
  font-size: 14px;
}

.open {
  color: green
}

.done p {
  color: red;
  text-decoration-line: line-through;
  font-style: italic;
}

.todo {
  /* width: 200px;
  padding: 10px; */
}

.number {
  padding-left: 0;
  padding-right: 12px;
  font-size: small;
}

.todo * {
  display: inline-block;
}

.todo button {
  float: right;
}
